#sideNav {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  position: static;
  display: flex;
  flex-direction: column;
  width: 10rem;
  height: 100vh;
}

#sideNav .navbar-collapse .navbar-nav {
  flex-direction: column;
  width: 100%;
}
