.container {
    min-height: 70vh;
}

.contact {
    align-items: center;
    text-align: justify;
    /* margin: 2rem 10rem; */
}

.contact h1 {
    text-align: center;
    font-weight: normal;
    font-size: 2rem;
    color: var(--clr-contact-heading);
}

.contact .quote {
    border-radius: 2rem;
    background-color: var(--clr-contact-quote-bg);
    text-align: center;
    padding: 1rem;
    /* margin: 5rem 0rem; */
}

.contact .quote blockquote {
    color: var(--clr-contact-quote-text);
    font-size: 1rem;
    font-style: italic;
    font-weight: normal;
}

.contact .quote cite {
    color: var(--clr-contact-quote-cite);
    font-style: italic;
    font-weight: normal;
}

.contact .cta {
    text-align: center;
    align-items: center;
}

.contact .cta h2 {
    text-align: center;
    font-weight: normal;
    font-size: 1.5rem;
}

.contact .cta p {
    text-align: center;
    font-weight: normal;
    font-size: 1rem;
}

.contact .cta a {
    text-align: center;
    font-weight: normal;
}

.intro-social-icons {
    background-color: var(--clr-home-social-icons);
    border-color: var(--clr-home-social-icons) !important;
    border-radius: 1rem;
    max-width: fit-content;
}

.intro-social-icons:hover {
    color: var(--clr-home-social-icons);
    background-color: #ffffff;
    border-color: black;
}

@media (min-width: 1200px) {
    .row {
        margin: 3rem 10rem;
    }
}

@media (max-width: 1200px) {
    .row {
        margin: 3rem 8rem;
    }
}

@media (max-width: 1080px) {
    .row {
        margin: 3rem 6rem;
    }
}

@media (max-width: 768px) {
    .row {
        margin: 3rem 2rem;
    }
}

@media (max-width: 580px) {
    .row {
        margin: 3rem 1rem;
    }

    .contact .cta h2 {
        font-size: 1.2rem;
    }

    .contact .cta p {
        font-size: 0.8rem;
    }
}

@media (max-width: 320px) {
    .row {
        margin: 3rem 0.5rem;
    }
}
