.post-01 {
    padding-right: 10rem;
    text-align: justify;
    padding: 1rem 1rem;
}

.post-01-heading {
    font-size: 2rem;
    font-weight: normal;
    color: var(--clr-post-heading);
}

.post-01-text p {
    color: var(--clr-post-text);
    font-size: small;
}
