/* html {
  background: url(../img/bg02.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

body {
  font-family: "Maven Pro", sans-serif;
  /* background: url(../img/bg01.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

.full-screen {
  padding: 8rem 0;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

a {
  font-weight: normal;
  text-decoration: none !important;
  transition: all 0.4s ease;
}
a:hover {
  color: var(--clr-theme-main) !important;
}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  color: #5b5b5b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  letter-spacing: -1px;
}

h1 {
  color: #212121;
  font-size: 2.8em;
  margin: 24px 0;
}

h2 {
  color: #353535;
  font-size: 2.4em;
  font-weight: bold;
}

h3 {
  color: #484848;
}

h3,
b,
strong {
  font-weight: bold;
}

.text-color-02 {
  color: var(--clr-theme-main);
}

@media (min-width: 993px) {
  body {
    padding: 1rem 4rem 2rem 4rem;
    /* margin: 1rem 4rem 2rem 4rem; */
  }
}

@media (min-width: 1200px) {
  body {
    padding: 1rem 14rem 2rem 14rem;
  }
}

@media (max-width: 991px) {
  body {
    padding: 1rem 2rem 2rem 2rem;
  }
}

@media (max-width: 767px) {
  body {
    padding: 1rem 2rem 2rem 2rem;
  }

  h1 {
    font-size: 2.4em;
  }

  h2 {
    font-size: 2em;
  }
}

@media (max-width: 580px) {
  body {
    padding: 1rem 1rem 2rem 1rem;
  }
}

@media (max-width: 320px) {
  body {
    padding: 1rem 1rem 2rem 1rem;
  }
}
