.footer {
  text-align: bottom;
}

.footer-text {
  font-size: 12px;
  font-weight: normal;
  line-height: 1;
  display: block;
  margin-bottom: 0.5rem;
}

@media (max-width: 767px) {
  .footer-text {
    font-size: 8px;
  }
}

@media (max-width: 580px) {
  .footer-text {
    font-size: 7px;
  }
}

@media (max-width: 320px) {
  .footer-text {
    font-size: 6px;
  }
}
